/* TIPOGRAFIA */
@font-face {
  font-family: "cuerpo";
  src: url("../public/font/LEMONMILK-Regular.woff2") format("woff2");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
.navbar{
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-evenly;
  background: #F26B1D;
}

.Iconos_navbar{
  width: 10vmin;
  height: 10vmin;
}

.Iconos_navbar_home{
  width: 12vmin;
  height: 10vmin;
}

/* FOOTER */
.Footer{
  display: flex;
  height: 94px;
  background: #F26B1D;
}

ul,li{
  list-style: none;
  padding-left: 8px;
  font-family: "cuerpo";
}

.terminos{
  padding-right: 10px;
  font-size: 12px;
}

.copy{
  font-size: 9px;
  margin-top: 20px;
}

a{
  list-style: none;
  text-decoration: none;
  color: black;
  font-size: 12px;
}

.contacto{
  display: flex;
  margin-top: 20px;

}

.contacto a{
  font-family: "cuerpo";
  margin-left: 7px;
}

.Iconos_navbar_mssg{
  width: 8vmin;
  height: 8vmin;
  margin-right: 8px;
 margin-left: 5px;
}