/* TIPOGRAFIA */
@font-face {
  font-family: "cuerpo";
  src: url("../public/font/LEMONMILK-Regular.woff2") format("woff2");
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: space-evenly;
  background: #f26b1d;
}

.Iconos_navbar {
  width: 10vmin;
  height: 10vmin;
}

.Iconos_navbar_home {
  width: 12vmin;
  height: 10vmin;
}

/* FOOTER */
.Footer {
  display: flex;
  height: 94px;
  background: #f26b1d;
}

ul,
li {
  list-style: none;
  padding-left: 8px;
  font-family: "cuerpo";
}

.terminos {
  padding-right: 10px;
  font-size: 12px;
}

.copy {
  font-size: 9px;
  margin-top: 20px;
}

.links_footer a {
  color: black;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.contacto {
  display: flex;
  align-items: center;
}

.contacto a {
  font-family: "cuerpo";
  margin-left: 7px;
  color: black;
}

.Iconos_navbar_mssg {
  width: 8vmin;
  height: 8vmin;
  margin-right: 8px;
  margin-left: 5px;
}

/* BANNER */
.banner {
  display: flex;
  background-color: #515151;
  width: 410px;
  height: 230px;
  padding-top: 10px;
  flex-direction: row-reverse;
}

/* BOTONES */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 24px;
  width: 180px;
  height: 40px;
  margin: 50px 40px 40px 40px;
  background: #000;
  font-family: "cuerpo";
  
}

/* LINKS */
.link{
  color: white;
}


